@font-face {
    font-family: 'coolveticaregular';
    src: url('../fonts/coolvetica_rg-webfont.eot');
    src: url('../fonts/coolvetica_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/coolvetica_rg-webfont.woff2') format('woff2'),
         url('../fonts/coolvetica_rg-webfont.woff') format('woff'),
         url('../fonts/coolvetica_rg-webfont.ttf') format('truetype'),
         url('../fonts/coolvetica_rg-webfont.svg#coolveticaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */



/********

********/


h1, h2, h3, h4, h5, h6, .logo{
    font-family: 'coolveticaregular';
    color: #2EADE3;
}

h1{
    font-size: 4em;
}

body {
	background-image: url(../images/siteBack.svg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#wrapper {
	padding: 0;
	margin-bottom: 20px;
}

.card{
    padding-top: 15px;
    background-color: rgba(255,255,255,0.20);
    border: 1px solid black;
    height: 300px;

}
.carousel-inner{
    max-width: 720px;
    margin: 0 auto;
}

.carousel-inner h3{
    color: white;
}

.card-img-top{
    max-width: 200px;
}

#mainHeader {
    text-align: center;
    padding: 15px;
    font-family: 'Caesar Dressing', cursive;
    width: 100%;
    margin: 0;
    
}


.form-group{
    transition: 200ms;
}

#mainImg{
    max-width: 300px;
    margin:50px auto;
}

#main {
	padding: 2% 1% 1% 1%;
	text-align: center;
}

#main #pCont {
	padding: 35px 20px 5px 20px;
	margin: 0;
	
}

#main #pCont p {
	font-size: 20px;
	text-align: justify;
	color: white;
}

#main .border-call {
	text-align: center;
	width: 70%;
	margin: 1.5% 15%;
}

.btnContainer{
    clear: both;
}

 .btn {
    transition: 500ms;
	height: 150px;
     width: 150px;
	font-size: 20px;
     text-align: center;
     color: white;
	background-color: red;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border: 4px solid #C8CDCF;
    margin-top: 50px;
     clear: both;
}

.btn:hover{
    color: white;
    -webkit-box-shadow: 0px 0px 10px 5px red;
    -moz-box-shadow: 0px 0px 10px 5px red;
    box-shadow: 0px 0px 10px 5px red;
}

 .btn:active {
    transition: 200ms;
     transform: scale(0.9);
	color:#574B9F;
	border: 2px solid #c1b577;
    -webkit-box-shadow:inset 0px 0px 10px 5px rgba(0,0,0,0.75);
    -moz-box-shadow:inset 0px 0px 10px 5px rgba(0,0,0,0.75);
    box-shadow:inset 0px 0px 10px 5px rgba(0,0,0,0.75);
    
}


#main form .form-group {
	text-align: left;
}

#main form {
	padding-top: 8%;
}

#main form .form-group label {
	font-size: 18px;
	color: dodgerblue;
}

#main .formBtn .btn {
	margin-top: 20px;
    
}

#main .formBtn .error {
	color: #BB0003;
	margin: 10px 0 0 0;
}

#main .progress {
	background: transparent;
	border: 2px solid #2EADE3;
    border-radius: 0px;
	height: 30px;
	position: relative;
    float: none;
    margin: 0 auto;
    
}

#main .progress span {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	font-size: 20px;
	color: white;
}

#main .progress-bar {
	background: dodgerblue;
}

#prog{
    margin: 0 auto;
    float: none;
}
#main #storyCont {
}

#main #storyCont p {
	font-size: 24px;
}
#main #storyCont span {
    font-weight: bold;
	padding: 0 2px;
	color: dodgerblue;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

input:placeholder-shown{
    font-style: italic;
}

input[type="text"]{
    border-radius: 0;
    transition: 200ms;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
}

input[type="text"]:hover{
    transition: 200ms;
    border: 1px solid dodgerblue;
}

input[type="text"]:focus{
    transition: 200ms;
    -webkit-box-shadow: inset 0px 0px 5px 3px #A99A7E;
    -moz-box-shadow: inset 0px 0px 5px 3px #A99A7E;
    box-shadow: inset 0px 0px 5px 3px #A99A7E;
}

p{
    color: white;
}

footer {
	text-align: center;
    clear: both;
}

footer p {
	font-size: 16px;
	padding: 20px 1% 1% 1%;
	line-height: 20px;
    color: white;
    
}

footer a{
    color: white;
}


footer p a:hover {	
	color: #2EADE3;
	text-decoration: none;
}


@media (min-width: 600px) {
    input[type="text"]{
        padding: 15px;
    }  
    h1{
        font-size: 90px;
    }
}