@charset "utf-8";
/* CSS Document */

/***************************
           FONTS
***************************/


h1, h2, h3, h4, h5, a, p, li, .btn, label, span, input {
	font-family: "Open Sans",serif, Times, "Times New Roman";
}

/***************************
    HTML, BODY, WRAPPER
***************************/

header h1 {
	font-size: 4em;
	font-weight: 600;
	padding-bottom: 5%;
	position: relative;
	color: #fff;
	text-shadow: 2px 2px #000;
}

h2 {
	color: #ddd;
}
header p {
	font-size: 2em;
	padding-bottom: 5%;
	text-shadow: 2px 2px #000;
}

.btn-primary {
	margin-bottom: 20%;
}

body {
	background-color: #000;
}

#wrapper {
	background-color: #000;
	width: 100%;
	padding: 0;
	border: 1px solid #bbb;
	margin-bottom: 25px;
}
/***************************
          HEADER
***************************/

header {

}

.first-slide, .second-slide, .third-slide {
	height: 100vh !important;
	position: relative !important;
	margin: 0 auto;
	background: no-repeat !important;
	width: 100%;
	background-size: cover !important;
}

/***************************
           MAIN
***************************/

.sectionBorder {
	background:repeat-x url("../images/beer.png");
	width: 100%;
	height: 385px;
}

#main {
	padding: 0;
	text-align: center;
	width: 70%;
	margin: 0 auto;
}

#main #pCont {
	padding: 35px 20px 5px 20px;
	margin: 0 auto;
	text-align: center;
	
	/*
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
	-webkit-box-shadow: inset 3px 3px 12px 0px rgba(20, 20, 20, 1);
	-moz-box-shadow:    inset 3px 3px 12px 0px rgba(20, 20, 20, 1);
	box-shadow:         inset 3px 3px 12px 0px rgba(20, 20, 20, 1);
	*/
}

#main #pCont p {
	font-size: 20px;
	text-align: justify;
	color: #c88400;
	/*color: #0A0A0A;*/
}

#main #pCont p .pFirst {
	font-size: 72px;
	line-height: 20px;
	margin-left: -7px;
}

#main .btnContainer {

}

#main .border-call {
	text-align: center;
	width: 70%;
	margin: 1.5% 15%;
}

#main .btnContainer .btn, header .btnContainer .btn {
	height: 60px;
	font-size: 28px;
	background-color: #c88400;
	
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	
	border: 2px solid transparent;
}

#main .btnContainer .btn:hover, header .btnContainer .btn:hover {
	height: 60px;
	font-size: 28px;
	color:#c88400;
	background-color: #2D2C2C;
	
	border: 2px solid #c88400;
}

#main form .form-group {
	text-align: left;
}

#main form {
	padding-top: 8%;
}

#main form .form-group label {
	font-size: 18px;
	color: #c88400;
}

#main .formBtn .btn {
	margin-top: 20px;
}

#main .formBtn .error {
	color: #BB0003;
	margin: 10px 0 0 0;
}

#main .progress {
	background: #2D2C2C;
	border: 2px solid #c88400;
	height: 30px;
	position: relative;
}

#main .progress span {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	font-size: 20px;
	color: white;
}

#main .progress-bar {
	background: #c88400;
}

#main #storyCont {
	text-align: center;
}

#main #storyCont p {
	font-size: 24px;
	color: #c88400;
}

#main #storyCont span {
	background-color:#c88400;
	padding: 0 2px;
	color: #2D2C2C;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}


/***************************
          FOOTER
***************************/

footer {
	text-align: center;
	color:#c88400;
}

.addy {
	margin:0 auto;
	width: 25%;
	height: auto;
	text-align: left;
}

footer p {
	font-size: 16px;
	padding: 20px 1% 1% 1%;
	line-height: 20px;
}

footer p a {
	background-color:#c88400;
	padding: 0 2px;
	color: #2D2C2C;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

footer p a:hover {
	background-color:#2D2C2C;
	color: #E9E9E9;
	text-decoration: none;
}

@media(max-width:480px) {
	.addy {
	margin:0 auto;
	width: 95%;
	text-align: center;
}

header h1 {
	font-size: 2em;
	font-weight: 600;
	padding-bottom: 5%;
	position: relative;
}

header p {
	font-size: 1em;
	padding-bottom: 5%;
}

.btn-primary {
	margin-bottom: 50%;
}
}
@media(max-width:768px) {
	.addy {
	width: 75%;
}

header h1 {
	font-size: 3em;
	font-weight: 600;
	padding-bottom: 5%;
	position: relative;
}

header p {
	font-size: 1em;
	padding-bottom: 5%;
}

.btn-primary {
	margin-bottom: 65%;
}
}